#controls {
	height: 40px;
	width: 1000px;
	padding: 5px;
}
.controlInput {
	width: 200px;
}

#chart {
	font-family: Snellan;
}

@font-face {
	font-family: Snellan;
	src: url('snellen-krzywinski.otf');
}

div.controlLabel {
	height: 23px;
	float: left;
}

input.controlInput {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.leftDiv {
	display: table-cell;
	width: 200px;
}

.rightDiv {
	display: table-cell;
	width: 200px;
	text-align: right;
	vertical-align: middle;
	font-family: Helvetica;
	font-size: 25px;
}

.centerP {
	text-align: center;
	width: 100%;
	line-height: 0%;
}

.rowDiv {
	display: table;
	width: 100%;
}